body {
    background-color: #f2f2f2;
}

#chat {
    border: 1px solid;
    max-width: 80%;
    margin: auto;
}

.statement {
    border: 1px solid #aaa;
    max-width: 50%;
    background-color: #fff;
}